.socials {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;

    &__link {
        display: block;
        transition: transform .3s ease;

        &:hover {
            transform: translateY(-5px);
        }
    }
}